body{
    background-color: whitesmoke;
}

h2{
    text-decoration: underline;
    color: white;
}

p{
    color:rgb(16, 71, 173);
    text-transform:uppercase
}

.p2{
    text-transform: uppercase;
    text-align: justify;
}

.p3{
    font-size: 12px;
}